.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  background: #0e0e0e;
  background-image: url('/footer/footer-bg.png');
  padding-top: 50px;
  padding-bottom: 20px;
}

.container {
  width: 100%;
  max-width: 1714px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 90px;

  p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: #686868;
  }
}

.top {
  display: flex;
  gap: 90px;
  justify-content: space-between;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &_title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
  }

  &_item {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: #686868;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 25px;

  p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: #fff;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;

  &_link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 25px;
    color: #fff;
  }
}
