.product-card {
  display: flex;
  width: 100%;
  max-width: 789px;
  height: 773px;
  padding-bottom: 50px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 20px;
  background: #f5f5f7;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  p {
    font-size: 1rem;
    color: #666;
  }

  .main-image {
    border-radius: 10px;
  }

  .color-picker {
    margin-top: 20px;
    text-align: center;
  }

  .color-options {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .color-option {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;

    &.selected {
      border: 2px solid #000;
    }

    .checkmark {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 1.2rem;
    }
  }

  .swiper {
    padding-bottom: 40px;
  }

  .swiper-pagination {
    bottom: 0px;
  }

  .swiper-pagination-bullet {
    background: #d9d9d9;
    opacity: 1;
    width: 17px;
    height: 17px;
    margin: 0 8px !important;
  }

  .swiper-pagination-bullet-active {
    background: #202020;
    opacity: 1;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    height: 58px;
    background-color: #ffffff;
    border-radius: 50%;

    &::after {
      font-size: 30px;
      color: #202020;
    }
  }
}

.image-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  width: 100%;
  max-width: 789px;
}

.nav-arrow {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

.image-preview {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.preview-images {
  display: flex;
  list-style-type: none;
  gap: 25px;
  padding: 0;
  margin: 0;
}

.preview-item {
  cursor: pointer;
  transition: opacity 0.3s ease;
  padding: 30px;
  background: #f5f5f7;
  border-radius: 20px;
  width: calc(100% / 3);

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.preview-item_active {
  opacity: 1;
  border-bottom: 3px solid #969696;
}
