.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f5f5f7;
  padding-bottom: 70px;
}

.frame {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #ffffff;
  width: 100%;
  max-width: 1714px;
  border-radius: 50px;
  padding-bottom: 15px;

  &_right {
    padding: 50px 80px;
    padding-left: 0;
  }

  &_left {
    padding: 30px 66px;
  }

  &_title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 55px;
    line-height: 100%;
    color: #202020;
  }

  &_colorTabs {
    display: flex;
    margin-top: 35px;
    gap: 25px;
  }

  &_colorItem {
    display: flex;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background: #000000;
    border: 3px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;

    &_white {
      width: 39px;
      height: 39px;
      background: #e8d0b7;
    }

    &_active {
      border-color: #e1e1e3;
    }
  }

  &_slogan {
    margin-top: 45px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #808080;
  }

  &_descriptionItem {
    margin-top: 34px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #808080;
  }
}

.otherProducts {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 150px;

  &_title {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 55px;
    line-height: 100%;
    text-align: center;
    color: #202020;
  }

  &_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 30px;
    width: 100%;
    max-width: 1714px;
    margin-top: 65px;
  }
}

.tabs {
  display: flex;
  gap: 45px;
  margin-top: 50px;

  &_item {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    color: #202020;
    padding-bottom: 7px;
    border: none;
    border-bottom: 1.5px solid transparent;
    background: none;
    cursor: pointer;

    &_active {
      border-color: #202020;
    }
  }
}

.characteristics {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 10px;

  &_title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 153%;
    color: #202020;
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 20px;
    margin-top: 10px;
  }

  &_item {
    font-weight: 400;
    color: #808080;
  }

  &_stringItem {
    margin-left: 5px;
    font-weight: 400;
    color: #808080;
  }
}
